@import '../../../sass/variables';

.container {

    @media (min-width: 575.98px) { 
        width:30%;
        height: 40%;
    }

    // border: 2px solid red;
    margin-bottom: 2em;
    box-shadow: rgba(0, 0, 0, 0.15) 11.95px 9.95px 6.6px;
    border-radius: 25px;
    
    img {
        width: 100%;
        height: 70%;
        border-radius: 25px;
    }

    .title{
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;

        p{
            color: $rating;
            
            .rating {
                margin-right: .5rem;
            }
        }
    }

    .duration{
        margin: 0  1rem;
        font-weight: lighter;

        p {
            margin: 0;
        }
    }

    .content{
        margin: 0  1rem;
        text-align: justify;
        text-justify: inter-word;
    }    
}