@import '../../sass/variables';

input[type=text] {
    width: 20%;
    height: 3em;
    outline: none;
    border-color: transparent;
    border-bottom: solid 1px $ghibli;
    padding-left: 3rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-image: url(../../assets/images/gray-search-icon.png);
    background-repeat: no-repeat;
    background-position: 2% 50%;
    background-size: 30px;

    &:hover, &:active, &:focus {
        width: 95%;
        background-position: 1% 50%;
    }
}


.ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;

    li {
        padding: 1em;
        
        &:hover{
            background-color: $ghibli;
            color: $white;
            cursor: pointer;           
        }
    }

    &::before{
        content: "";
    }
}