.container {
    height: 60vh;
    margin-top: .5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;
    
    .content {
        height: 100%;
        display: flex;
        transition: all 250ms linear;
        -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
        scrollbar-width: none;  /* hide scrollbar in Firefox */
        position: relative;

        img {
            width: 100%;
            position: absolute;
            left: 0px;
            height: 100%;
        }
        
        button {
            background-color: transparent;
            border: none;
            position: absolute;
            top: 50%;
            font-size: 2rem;
            

            &:first-child {
                left: 0px;
                
            }
            &:last-child {
                right: 0px;
            }

            .icon {
                color: #cccccc;
            }
        }
    }
}

/* hide scrollbar in webkit browser */
.content::-webkit-scrollbar, .content::-webkit-scrollbar {
    display: none;
}