@import './sass/variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat' sans-serif;
  background-color: $white;
  color: $text;


  .carousel {
    margin-top: 1rem;
  }

  .content{
    margin-top: .5rem;
    
    .autoCompleteText {
      margin: 0 1em;
    }

    .films {
      width: calc(100% - 2em);
      height: auto;
      overflow-x: hidden;
    
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1em;
    }
  }
}

